ul.bangs.lists.row
  li.bangs__item.list.col6
    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Qui ita affectus, beatum esse numquam probabis; Multa sunt dicta ab antiquis de contemnendis ac despiciendis rebus humanis; Iam id ipsum absurdum, maximum malum neglegi. Duo Reges: constructio interrete. Quae similitudo in genere etiam humano apparet. Huius, Lyco, oratione locuples, rebus ipsis ielunior.

  li.bangs__item.list.col6
    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Qui ita affectus,

ul.bangs.lists.row
  li.bangs__item.list.col6
    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Qui ita affectus, beatum esse numquam probabis; Multa sunt dicta ab antiquis de contemnendis ac despiciendis rebus humanis; Iam id ipsum absurdum, maximum malum neglegi. Duo Reges: constructio interrete. Quae similitudo in genere etiam humano apparet. Huius, Lyco, oratione locuples, rebus ipsis ielunior.
    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Qui ita affectus, beatum esse numquam probabis; Multa sunt dicta ab antiquis de contemnendis ac despiciendis rebus humanis; Iam id ipsum absurdum, maximum malum neglegi. Duo Reges: constructio interrete. Quae similitudo in genere etiam humano apparet. Huius, Lyco, oratione locuples, rebus ipsis ielunior.

  li.bangs__item.list.col6
    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Qui ita affectus, beatum esse numquam probabis; Multa sunt dicta ab antiquis de contemnendis ac despiciendis rebus humanis; Iam id ipsum absurdum, maximum malum neglegi. Duo Reges: constructio interrete. Quae similitudo in genere etiam humano apparet. Huius, Lyco, oratione locuples, rebus ipsis ielunior.


ul.bangs.lists.row
  li.bangs__item.list.col6
    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Qui ita affectus,

  li.bangs__item.list.col6
    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Qui ita affectus,
    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Qui ita affectus,

  li.bangs__item.list.col6
    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Qui ita affectus,

  li.bangs__item.list.col6
    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Qui ita affectus,