ul.bang.lists.row
  li.bang__item.list.col6
    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Qui ita affectus, beatum esse numquam probabis; Multa sunt dicta ab antiquis de contemnendis ac despiciendis rebus humanis; Iam id ipsum absurdum, maximum malum neglegi. Duo Reges: constructio interrete. Quae similitudo in genere etiam humano apparet. Huius, Lyco, oratione locuples, rebus ipsis ielunior.

  li.bang__item.list.col6
    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Qui ita affectus,

ul.bang.lists.row
  li.bang__item.list.col5
    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Qui ita affectus, beatum esse numquam probabis; Multa sunt dicta ab antiquis de contemnendis ac despiciendis rebus humanis; Iam id ipsum absurdum, maximum malum neglegi. Duo Reges: constructio interrete. Quae similitudo in genere etiam humano apparet. Huius, Lyco, oratione locuples, rebus ipsis ielunior.
    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Qui ita affectus, beatum esse numquam probabis; Multa sunt dicta ab antiquis de contemnendis ac despiciendis rebus humanis; Iam id ipsum absurdum, maximum malum neglegi. Duo Reges: constructio interrete. Quae similitudo in genere etiam humano apparet. Huius, Lyco, oratione locuples, rebus ipsis ielunior.

  li.bang__item.list.col4
    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Qui ita affectus, beatum esse numquam probabis; Multa sunt dicta ab antiquis de contemnendis ac despiciendis rebus humanis; Iam id ipsum absurdum, maximum malum neglegi. Duo Reges: constructio interrete. Quae similitudo in genere etiam humano apparet. Huius, Lyco, oratione locuples, rebus ipsis ielunior.

  li.bang__item.list.col3
    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Qui ita affectus, beatum esse numquam probabis; Multa sunt dicta ab antiquis de contemnendis ac despiciendis rebus humanis; Iam id ipsum absurdum, maximum malum neglegi. Duo Reges: constructio interrete. Quae similitudo in genere etiam humano apparet. Huius, Lyco, oratione locuples, rebus ipsis ielunior.


ul.bang.lists.row
  li.bang__item.list.col6
    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Qui ita affectus,

  li.bang__item.list.col6
    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Qui ita affectus,
    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Qui ita affectus,

  li.bang__item.list.col6
    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Qui ita affectus,

  li.bang__item.list.col6
    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Qui ita affectus,