extend /_layout

block pageVarialbes
  -var pageTitle = sitename;
  -var pageDesc = "this site is anti base at top page";
  -var bodyclass = "";

block header
  .box
    h1 page title
    p html boilerplate base.

block content
  .container
    .box
      .row
        .col3
          h2 dropdown
        .col9
          include /inc/_dropdown


  .container
    .box
      .row
        .col3
          h2 tab
        .col9
          include /inc/_tab

    .box
      .row
        .col3
          h2 accordion
        .col9
          include /inc/_accordion

    .box
      .row
        .col3
          h2 adjust height
        .col9
          include /inc/_bangs

    .box
      .row
        .col3
          h2 modal
        .col9
          include /inc/_modal

