extend /_layout

block pageVarialbes
  -var pageTitle = sitename;
  -var pageDesc = "this site is anti base at top page";
  -var bodyclass = "";

block main
  h1 page title
  p html boilerplate base.
  .test
    a(href="/contact/") contact
