!!! 5
html
  head
    meta(charset='UTF-8')
    meta(name="viewport",content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no")
    title anit base layout
    link(rel="stylesheet",href="/assets/css/style.css")

  body
    block content
      h1 anti base
      p html boilerplate base.
      .test test

  script(src="/assets/libs/labjs/LAB.min.js")
  script(src="/assets/js/app.js")


